:root {
    font-family: 'Inter', 'Avenir', system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #fdfdfd;
    color: #232323;
}

main {
    padding: 20px;
}

.header,
.introduction,
.visualization,
.conclusion {
    width: 100%;
    max-width: 650px;
    margin: 30px auto;
    padding: 0px auto;
}

.visualization svg {
    width: 100%;
    height: auto;
}

.header span {
    display: block;
    text-align: center;
}

.introduction span {
    font-size: 1.1em;
    display: block;
    text-align: center;
    font-style: italic;
}

h1 {
    font-size: 3em;
    margin-top: 40px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.4em;
    margin: 40px;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 1em;
}

.introduction p {
    margin-bottom: 30px;
    font-size: 1.25em;
    line-height: 1.5em;
}

.conclusion p {
    margin-bottom: 30px;
    font-size: 0.9em;
    line-height: 1.5em;
}

.conclusion li {
    margin-bottom: 30px;
    font-size: 0.9em;
    line-height: 1.5em;
}

.back {
    text-decoration: none;
    font-size: 16px;
    color: #161618;
    text-align: center;
}

.external {
    color: #161618;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
}

.external:hover {
    text-decoration: none;
}

.tooltip {
    position: absolute;
    text-align: left;
    padding: 10px 16px;
    color: #fcfcfc;
    font-size: 12px;
    background: #232323;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 3px 8px;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}

.x-axis {
    color: #555555;
    font-size: 15px;
}

.c-axis {
    font-size: 15px;
    text-anchor: middle;
}


.axis-label {
    font-size: 12px;
}

.c-axis .domain,
.c-axis .tick line {
    display: none;
}

.grid line {
    stroke: #fdfdfd;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
    pointer-events: none;
}

.grid {
    stroke-dasharray: 3, 3;
}

.grid .domain,
.grid .tick text {
    display: none;
}

.header-text {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: 10px;
}

.header-text div {
    flex-grow: 1;
    text-align: center;
}

.left {
    padding-right: 20px;
}

.right {
    padding-left: 20px;
}