:root {
    font-family: 'Inter', 'Avenir', system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #fdfdfd;
    color: #232323;
}

main {
    padding: 20px;
}

.header,
.introduction,
.conclusion {
    width: 100%;
    max-width: 650px;
    margin: 30px auto;
    padding: 0px auto;
}

.visualization {
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    padding: 0px auto;
}


.visualization svg {
    width: 100%;
    height: auto;
}

.header span {
    display: block;
    text-align: center;
}

.introduction span {
    font-size: 1.1em;
    display: block;
    text-align: center;
    font-style: italic;
}

h1 {
    font-size: 3em;
    margin-top: 40px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.4em;
    margin: 40px;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 1em;
}

.introduction p {
    margin-bottom: 30px;
    font-size: 1.25em;
    line-height: 1.5em;
}

.conclusion p {
    margin-bottom: 30px;
    font-size: 0.9em;
    line-height: 1.5em;
}

.conclusion li {
    margin-bottom: 30px;
    font-size: 0.9em;
    line-height: 1.5em;
}

.back {
    text-decoration: none;
    font-size: 16px;
    color: #161618;
    text-align: center;
}

.external {
    color: #161618;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
}

.external:hover {
    text-decoration: none;
}

.bar {
    stroke-width: 0;
}

.series {
    stroke-width: 0;
}

.series-border {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

.y-axis .domain {
    stroke: black;
    stroke-width: 1.1px;
}

.x-axis text,
.y-axis text {
    font-size: 17px;
}

.y-axis text {
    transform: translate(-10px, 0px);
}

.x-axis .domain {
    display: none;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid .domain {
    display: none;
}

.legend {
    font-size: 12px;
    display: flex;
    align-items: center;
}

.legend-container {
    margin: 8px 0;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.chart-title {
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
}

.chart-container {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.container {
    display: flex;
    justify-content: space-between;
    font-size: 12.5px;
    color: #666666;
}

.legend2 {
    margin: 4px 0;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.title {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 6px;
}

.subtitle {
    font-size: 14.5px;
    font-weight: 600;
    margin: 0;
}

hr {
    border: 0;
    border-top: 1px solid #161618;
    width: 12%;
    margin: 8px 0;
}

sup {
    font-size: 0.75em;
    vertical-align: super;
}

/* Media queries */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 0.9em;
    }

    p {
        font-size: 1em;
    }

    .header span {
        font-size: 1em;
    }

    .introduction span {
        font-size: 1em;
    }

    .introduction p {
        font-size: 1em;
    }

    .conclusion p,
    .conclusion li {
        font-size: 0.8em;
    }

    .back {
        font-size: 14px;
    }

    .chart-title {
        font-size: 12px;
    }

    .title {
        font-size: 14px;
    }

    .subtitle {
        font-size: 12px;
    }

    .container {
        font-size: 8px;
    }

    .legend-item {
        font-size: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 0.8em;
    }

    p {
        font-size: 0.9em;
    }

    .header span {
        font-size: 0.9em;
    }

    .introduction span {
        font-size: 0.9em;
    }

    .introduction p {
        font-size: 0.9em;
    }

    .conclusion p,
    .conclusion li {
        font-size: 0.7em;
    }

    .back {
        font-size: 12px;
    }

    .chart-title {
        font-size: 12px;
    }

    .title {
        font-size: 14px;
    }

    .subtitle {
        font-size: 12px;
    }

    .container {
        font-size: 8px;
    }

    .legend-item {
        font-size: 10px;
        margin-right: 10px;
    }
}