:root {
    font-family: 'Inter', 'Avenir', system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #fdfdfd;
    color: #232323;
}

main {
    padding: 20px;
}

.header,
.introduction,
.conclusion {
    width: 100%;
    max-width: 650px;
    margin: 30px auto;
    padding: 0px auto;
}

.visualization {
    width: 100%;
    max-width: 1050px;
    margin: 30px auto;
    padding: 0px auto;
}


.visualization svg {
    width: 100%;
    height: auto;
}

.header span {
    display: block;
    text-align: center;
}

.introduction span {
    font-size: 1.1em;
    display: block;
    text-align: center;
    font-style: italic;
}

h1 {
    font-size: 3em;
    margin-top: 40px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.4em;
    margin: 40px;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 1em;
}

.introduction p {
    margin-bottom: 30px;
    font-size: 1.25em;
    line-height: 1.5em;
}

.conclusion p {
    margin-bottom: 30px;
    font-size: 0.9em;
    line-height: 1.5em;
}

.conclusion li {
    margin-bottom: 30px;
    font-size: 0.9em;
    line-height: 1.5em;
}

.back {
    text-decoration: none;
    font-size: 16px;
    color: #161618;
    text-align: center;
}

.external {
    color: #161618;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
}

.external:hover {
    text-decoration: none;
}

.x-axis {
    color: #777;
    font-size: 12px;
    font-family: nyt-franklin, arial, helvetica, sans-serif;
}

.y-axis {
    color: #777;
    font-size: 12px;
    font-family: nyt-franklin, arial, helvetica, sans-serif;
}

.y-axis .domain {
    display: none;
}


.x-axis .domain {
    display: none;
}

tspan {
    pointer-events: none;
}

.tooltip {
    position: absolute;
    width: 300px;
    height: 206px;
    text-align: left;
    padding: 10px 0px;
    color: #fcfcfc;
    /* font-size: 12px; */
    background: #003399;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 3px 8px;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
    transition: left 0.3s ease, top 0.3s ease;
}

/* Media queries */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 0.9em;
    }

    p {
        font-size: 1em;
    }

    .header span {
        font-size: 1em;
    }

    .introduction span {
        font-size: 1em;
    }

    .introduction p {
        font-size: 1em;
    }

    .conclusion p,
    .conclusion li {
        font-size: 0.8em;
    }

    .back {
        font-size: 14px;
    }

    .tooltip {
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 0.8em;
    }

    p {
        font-size: 0.9em;
    }

    .header span {
        font-size: 0.9em;
    }

    .introduction span {
        font-size: 0.9em;
    }

    .introduction p {
        font-size: 0.9em;
    }

    .conclusion p,
    .conclusion li {
        font-size: 0.7em;
    }

    .back {
        font-size: 12px;
    }
}
